body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: 'Raleway', sans-serif;
  color: #fff;
}

.navbar{
  background-color: #1a1a1a; 
  margin: auto;
}
.navbar a{
  color: white;
}
.intro{
  background-color: black;
  height: 750px;
  background-image: url("wolf.png");
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
}

#about{
background-color: #1a1a1a;
color: white;
height: 400px;
text-align: center;
line-height: 25px;
padding-top: 30px;
}


#hobbies{
  background-color: #1a1a1a;
  color: white;
  height: 600px;
  padding-top: 30px;
  text-align: center;
}

#hobbies .hobby{
  margin: auto;
}

#hobbies .hobby2{
  margin: auto;
}

img {
  border-radius: 8px;
}

#contact{
  background-color: #1a1a1a;
  color: white;
  text-align: center;
  height: 900px;
  padding-top: 300px;
}
